In [84]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_csv("../api-data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       187 non-null    int64
 1   date             187 non-null    object
 2   flight no        187 non-null    int64
 3   booster version  187 non-null    object
 4   payload mass     162 non-null    float64
 5   orbit            186 non-null    object
 6   launch site      187 non-null    object
 7   landing type     158 non-null    object
 8   outcome          156 non-null    object
 9   flights          187 non-null    int64
 10  gridfins         187 non-null    bool
 11  reused           187 non-null    bool
 12  legs             187 non-null    bool
 13  landing pad      151 non-null    object
 14  block            182 non-null    float64
 15  reused count     187 non-null    int64
 16  serial           187 non-null    object
 17  longitude        187 non-null    float64
 18  latitude         187 non-null    float64
 19  cost per launch  187 non-null    int64
 20  customers        187 non-null    object
 21  manufacterers    187 non-null    object
dtypes: bool(3), float64(4), int64(5), object(10)
memory usage: 28.4+ KB

In [86]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

In [87]:
df['date'] = pd.to_datetime(df["date"]).dt.date

In [88]:
mass_bv = df.groupby("booster version").describe()["payload mass"]
mass_bv

,count,mean,std,min,25%,50%,75%,max
booster version,,,,,,,,
Falcon 1,3.0,128.333333,95.437589,20.0,92.5,165.0,182.5,200.0
Falcon 9,156.0,8117.574038,5545.558195,330.0,2956.5,6630.5,13260.0,15600.0
Falcon Heavy,3.0,2650.000000,2925.320495,600.0,975.0,1350.0,3675.0,6000.0

In [91]:
df.loc[df['booster version'] == 'Falcon 1', ['payload mass']]
df['payload mass'][1] = mass_bv["mean"]["Falcon 1"]
df['payload mass'][2] = mass_bv["mean"]["Falcon 1"]

/var/folders/14/74g9mr9x7c7cx2_vfwl7bd400000gn/T/ipykernel_86439/2284129788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['payload mass'][1] = mass_bv["mean"]["Falcon 1"]
/var/folders/14/74g9mr9x7c7cx2_vfwl7bd400000gn/T/ipykernel_86439/2284129788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['payload mass'][2] = mass_bv["mean"]["Falcon 1"]

In [97]:
df['payload mass'].replace(np.nan, mass_bv["mean"]["Falcon 9"], inplace = True)

In [105]:
df['orbit'].replace(np.nan, "LEO", inplace=True)

In [115]:
df['outcome'].replace(np.nan, False, inplace=True)

In [118]:
df['landing pad'].value_counts()

5e9e3032383ecb6bb234e7ca    64
5e9e3033383ecbb9e534e7cc    40
5e9e3033383ecb075134e7cd    21
5e9e3032383ecb267a34e7c7    18
5e9e3032383ecb554034e7c9     6
5e9e3032383ecb761634e7cb     2
Name: landing pad, dtype: int64

In [122]:
df['landing pad'].replace(np.nan, 'no data', inplace=True)

In [124]:
df['landing type'].replace(np.nan, 'no data', inplace=True)

In [132]:
# remove falcon 1 and falcon heavy
df = df[df['booster version'] == 'Falcon 9']

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 5 to 186
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             179 non-null    object
 1   flight no        179 non-null    int64
 2   booster version  179 non-null    object
 3   payload mass     179 non-null    float64
 4   orbit            179 non-null    object
 5   launch site      179 non-null    object
 6   landing type     179 non-null    object
 7   outcome          179 non-null    bool
 8   flights          179 non-null    int64
 9   gridfins         179 non-null    bool
 10  reused           179 non-null    bool
 11  legs             179 non-null    bool
 12  landing pad      179 non-null    object
 13  block            179 non-null    float64
 14  reused count     179 non-null    int64
 15  serial           179 non-null    object
 16  longitude        179 non-null    float64
 17  latitude         179 non-null    float64
 18  cost per launch  179 non-null    int64
 19  customers        179 non-null    object
 20  manufacterers    179 non-null    object
dtypes: bool(4), float64(4), int64(4), object(9)
memory usage: 25.9+ KB